body{
    background-image: url(/img/layered-steps-haikei\ \(1\).svg);
    background-repeat: no-repeat;
    background-size: cover;
}
.wrapper{
    width: 100%;
}
.my-box{
    width: 900px;
}
.my-small-box{
    width: 100px;
    height: 100px;
    display: inline-block;
    margin: 10px;
    font-weight: bold;
    text-align: center;
    line-height: 100px;
    border-radius: .75em;
}
.my-bg-orange{
    background-color: orange;
}
.my-bg-lightblue{
    background-color: aqua;
}
.my-bg-green{
    background-color: chartreuse;
}
.my-bg-blueish{
    background-color: cornflowerblue;
}